body,
html {
    background-color: black;
    margin: 0;
    height: 100%;
}

.max-width {
    width: max(76%, 800px);
    height: max(100vh);
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.background-image {
    width: 38%;
    height: 100vh;
    background-image: url(./Images/photo-1585202900225-6d3ac20a6962.webp);
}

.form-content {
    width: 63%;
    height: 100vh;
    background-color: red;
}